version: '3.8'

services:
  training-mongo-db-mongo:
    container_name: training-mongo-db-mongo
    image: mongo:4.4.15
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_DATA_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_DATA_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_DATA_DATABASE}
    volumes:
      - ./db-files:/data/db
    ports:
      - ${DB_DATA_PORT}:27017
    networks:
      - training-mongo

  training-mongo-mongo-express:
    container_name: training-mongo-mongo-express
    image: mongo-express
    restart: always
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${DB_DATA_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${DB_DATA_PASSWORD}
      ME_CONFIG_MONGODB_URL: ${DB_MONGO_URL}
    ports:
      - ${DB_MONGO_PORT}:8081
    networks:
      - training-mongo

networks:
  training-mongo:
    name: training-mongo
