version: '3.8'

services:
  training-mongodb-db:
    container_name: training-mongodb-db
    image: mongo:4.4.15
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_DATA_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_DATA_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_DATA_DATABASE}
    volumes:
      - ./db-files:/data/db
    ports:
      - ${DB_DATA_PORT}:27017
    networks:
      - training-mongodb

  training-mongodb-mongoexpress:
    container_name: training-mongodb-mongoexpress
    image: mongo-express
    restart: always
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${DB_DATA_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${DB_DATA_PASSWORD}
      ME_CONFIG_MONGODB_URL: ${DB_MONGO_URL}
      ME_CONFIG_BASICAUTH_USERNAME: ${DB_MONGOEXPRESS_USER}
      ME_CONFIG_BASICAUTH_PASSWORD: ${DB_MONGOEXPRESS_PASSWORD}
    depends_on:
      - training-mongodb-db
    ports:
      - ${DB_MONGO_PORT}:8081
    networks:
      - training-mongodb

networks:
  training-mongodb:
    name: training-mongodb
